services:
  frontend:
    build: .
    ports:
      - "3000:80"
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    env_file:
      - ./.env
    networks:
      - internal

networks:
  internal:
    external: true
