@import "tailwindcss";
@import "@/assets/styles/fonts.css";

@theme inline {
  --font-display: Inter, sans-serif;

  --radius-primary: 50px;
  --radius-secondary: 30px;

  --color-accent: #72d6f3;
  --color-accent-secondary: #ef5d6b;
  --color-accent-tertiary: #e1150b;
}

@layer base {
  * {
    font-family: var(--font-display);
  }
}

.container {
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
}

.heading {
  font-size: var(--text-6xl);
  font-weight: 800;
}
