@import "tailwindcss";
@import "@/assets/styles/fonts.css";
@import "@/assets/styles/view-transitions.css";

@theme inline {
  --font-display: Inter, sans-serif;

  --radius-primary: 50px;
  --radius-secondary: 30px;

  --color-surface-1: #090011;
  --color-surface-1-foreground: #ffffff;
  --color-surface-2: #ffffff;
  --color-surface-2-secondary: rgba(217, 217, 217, 0.4);
  --color-surface-2-foreground: #090011;

  --color-accent-1: #72d6f3;
  --color-accent-2: #ef5d6b;
  --color-accent-3: #e1150b;

  --color-action: #6153f8;
  --color-action-foreground: #ffffff;
}

@layer base {
  * {
    font-family: var(--font-display);
  }

  html {
    @apply overflow-x-hidden scroll-smooth;
  }

  body {
    @apply overflow-x-hidden;
  }

  .custom-select-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.12) transparent;
  }

  .custom-select-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-select-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-select-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
}

.heading {
  font-size: var(--text-6xl);
  font-weight: 800;
}

@media (max-width: 768px) {
  .heading {
    font-size: var(--text-5xl);
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: var(--text-4xl);
  }
}
